@import "tailwindcss";

.lines {
    background: linear-gradient(180deg, #3452ff 50%, rgba(211, 165, 131, 1) 50%, rgba(211, 165, 131, 1) 100%);
}

.ClipPathCard{
    clip-path: path("M 175,0 A 10,10 0,0,1 185,10 L 185,195 A 10,10 0,0,1 175,205 L 75,205 A 10,10 0,0,0 65,215 L 65,250 A 10,10 0,0,1 55,260 L 10,260 A 10,10 0,0,1 0,250 L 0,10 A 10,10 0,0,1 10,0 Z");
}

.scrollPageHidden::-webkit-scrollbar {
    width: 0px;
}